<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link href="/css/output.css" rel="stylesheet">
</head>

<body class="bg-gray-100 p-6">
  
  <div class="max-w-4xl mx-auto bg-white p-6 rounded shadow">
    
    <div class="flex justify-between mb-4">
      <h1 class="text-2xl font-bold"><%= title %></h1>
      <a href="/users/create" class="px-4 py-2 bg-blue-600 text-white rounded">
        + Tambah User
      </a>
    </div>

    <table class="w-full border">
      <thead class="bg-gray-200">
        <tr>
          <th class="border p-2">Nama</th>
          <th class="border p-2">password</th>
          <th class="border p-2 w-32">Aksi</th>
        </tr>
      </thead>

      <tbody>
        <% user.forEach(u => { %>
          <tr>
            <td class="border p-2"><%= u.email %></td>
            <td class="border p-2"><%= u.password %></td>

            <td class="border p-2 text-center">
              <a href="/users/edit/<%= u.id %>" class="px-2 py-1 bg-yellow-500 text-white rounded">Edit</a>
              <a href="/users/delete/<%= u.id %>" class="px-2 py-1 bg-red-500 text-white rounded">Hapus</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  </div>

</body>
</html>
